@model Sample.Models.Widgets.MyFirstWidgetWidgetViewModel
<div>
	<p><strong>@Html.LabelFor(m => Model.Prop1):</strong> @Model.Prop1</p>
	<p><strong>@Html.LabelFor(m => Model.Email):</strong> @Model.Email</p>
	<p><strong>@Html.LabelFor(m => Model.Description):</strong> @Model.Description</p>
</div>