@using Gusker.Models
@using Gusker.Models.Article

@model PageViewModel<ArticleViewModel>

@{
    ViewBag.Title = "Details";
}

<h2>@Model.Data.Title</h2>
<h3>@Model.Data.Subtitle</h3>

@Html.Kentico().EditableArea("center")

@section styles {
    @if (Context.Kentico().PageBuilder().EditMode)
    {
        @Html.Kentico().PageBuilderStyles()
    }
}

@section scripts {
    @if (Context.Kentico().PageBuilder().EditMode)
    {
        @Html.Kentico().PageBuilderScripts()
    }
}